/* @font-face {
  font-family: "ZpixReviewOnline";
  src: url(https://zpix.now.sh/zpix.woff2?v2022-12-11) format("woff2");
  src: url(https://static.bmmmd.com/zpix.woff2?v2022-12-11) format('woff2');
} */
html,
body,
pre,
code,
kbd,
samp {
  /* font-family: "ZpixReviewOnline", "Press Start 2P", "sans-serif"; */
  font-family: "sans-serif";
}

.showcase.bottom a {
  text-decoration: none !important;
}

.item>* {
  margin-bottom: 1.5rem !important;
}

.main.container {
  min-width: 1200px;
  width: 60vw;
  margin: 0 auto;
  /* margin-top: 8rem; */
}

.showcase {
  margin: 1.5rem 1.5rem 0 1.5rem;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  border-bottom: 4px solid #d3d3d3;
  background-color: white;
}

header p {
  margin-bottom: 5px;
}

header i {
  margin-right: 1rem;
}

header>.container {
  display: flex;
  align-items: baseline;
  width: 57vw;
  margin: 0 auto;
  /* padding-top: 1rem; */
  transition: all 0.2s ease;
}

/* Header-sticky */
header.sticky>.container {
  font-size: 0.8rem;
  padding: 0;
  align-items: center;
}

#log {
  overflow-x: auto;
  height: 40vh;
  font-size: small;
}

#log:focus {
  outline: none;
}

.nes-btn,
.nes-container,
.nes-input,
select {
  border-image-repeat: unset !important;
}

.with-title .title {
  margin-top: -2.2rem !important;
}

.hide {
  display: none !important;
}

#media {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#media .file {
  margin-right: 1rem;
  /* display: inline; */
}

#media .cancel {
  margin-left: -0.3rem;
}

.common {
  width: 15rem;
}

#cmd {
  display: flex;
}

#cmd .cancel {
  margin-left: -0.3rem;
}

#cmd .close {
  margin: auto;
  transform: scale(1.2);
  margin-right: 5px;
}

#run {
  display: flex;
  margin-top: 1rem;
  justify-content: flex-start;
}

#run button,
#run label,
#run .language {
  margin-left: 1rem;
}

.language {
  width: 10rem;
}

#media .nes-icon {
  margin: auto;
  transform: scale(1.2);
  margin-right: 5px;
}

#mask {
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
}

#preview {
  aspect-ratio: 16/9;
}

.to-github {
  transform: scale(2.5);
  /* margin-bottom: 2rem; */
}

.icon {
  margin-bottom: 8px;
}

.hide {
  display: none;
}

@media (max-width: 1200px),
screen and (orientation: portrait) {
  .main.container {
    width: 100%;
    min-width: 100%;
  }
}

@media (prefers-color-scheme: dark) {

  body,
  header {
    background: #212529;
    color: white;
  }
}

.user-select-none {
  user-select: none;
}